.container {
	padding: 25px 15vw;
	margin-top: 50px;
	h1 {
		display: flex;
		gap: 15px;
	}
	button {
		text-decoration: none;
	}
}

.container h4 {
	display: flex;
	gap: 10px;
}

.container img {
	-webkit-transition: -webkit-transform 0.8s;
}

.container img:hover {
	-webkit-transform: rotate(360deg) translateZ(0);
}
